<section>
  <label for="profile_roles">Roles</label>
  <% Profile.valid_roles.each do |role| %>
    <%= check_box_tag "profile[roles][]", role, @profile.has_role?(role) %>
    <label for="profile_roles"><%= role.to_s %></label>  
  <% end %>
</section>