<div class="row stone">
  <div class="columns large-8 large-centered">
    <p><span>On</span> <%= @milestone.date.to_s(:long_ordinal) %></p>
    <p><span>In</span> <%= @milestone.location %></p>
    <p><%= @milestone.description %></p>
    <%= link_to "Back", user_milestones_path(@user), :class => "tiny button" %>
  </div>
</div>