<div class="row">
  <div class="columns large-6 large-centered">
    <% @users.each do |user| %>
      <h3><%= link_to "#{user.profile.full_name}\t#{user.profile.degree}°" %></h3>
      <% if user.profile.roles.length > 0 %>
        <p>
          <span>Role(s):</span>
          <% user.profile.roles.each do |role| %>
            <%= role %>
          <% end %>
        </p>
      <% end %>
      <hr>
    <% end %>
  </div>
</div>