<% @users.each do |user| %>
  <div class="row">
    <div class="columns large-6">
      <h3><%= user.username %>&#09;&#09;<%= user.degree %>&deg;</h3>
      <p><%= user.email %></p>
      <% if user.roles.length > 0 %>
        <h6>Role(s):</h6>
        <% user.roles.each do |role| %>
          <p><%= role %></p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>