<div class="home-container" id="home">

</div>

<div class="about-container" id="about">
  
</div>

<div class="article-container" id="articles">
  
</div>

<div class="contact-container" id="contact">
  
</div>