<div class="home-container" id="home">
  <div class="title-image">
    <div class="row">
      <div class="small-12 columns main-title">
        <span>Vajra<span><%= image_tag("vajra-logo_mini-logo.svg", class: "mini-logo") %></span>Lodge</span>
      </div>
    </div>
  </div>
</div>

<div class="about-container" id="about">
  
</div>

<div class="article-container" id="articles">
  
</div>

<div class="contact-container" id="contact">
  
</div>