
// Foundation overrides


//Navbar
nav.top-bar {
  text-align: center;
}

section.top-bar-section {
display: inline-block;
margin-left: 0%;
}

#menu-icon {
  font-size: 30px;
}

// All containers

.body, 
.html {
  height: 100%;
  width: 100%;
}

.home-container,
.about-container,
.article-container,
.contact-container {
  height: -webkit-calc(100% + 80px);
  height: -moz-calc(100% + 80px);
  height: calc(100% + 80px);
  width: 100%;
}

//Home container

.home-container {
  background-color: $dark-blue; 
}

.title-image {
  margin-top: 75px;
  height: 65%;
  background-image: image-url("main_page_01.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover; 
   -o-background-size: cover; 
   background-size: cover;  
  background-position: center; 
}

.main-title {
  text-align: center;
  font-family: $font-family;
  font-size: 20vh;
  color: $dark-blue; 
}

.mini-logo {
  position: relative;
  bottom: 10px;
}

//About container

.about-container {
  background-color: $white; 
}

// Article container
.article-container {
  background-color: $light-blue; 
}

//Contact container

.contact-container {
  background-image: image-url("vajra-logo_vajra-grid.svg");
}

// Media queries
// 577

@media screen and (max-width: 577px) {
 
    .top-bar ul {
        background-color: $dark-blue;
        padding-bottom: 0px;
    }

    section.top-bar-section {
      display: block;
    }
 
    .top-bar-section ul li > a {
        font-size: 22px;
        background: $dark-blue; 
    }
 
    .top-bar-section ul {
        background: blue;
    }
 
    .top-bar-section .has-dropdown > a:after {
        border-color: rgba(255, 255, 255, 1) transparent transparent;
        margin-top: 2.5px;
    }
 
} /* end media query */

