.flash {
  text-align: center;
}

.flash.alert {
  color: #d44;
}

.flash.notice {
  color: #2d2;
}

// .button.dropdown {
  // background-color: #fff;
  // color: #666;
  // border: none;
// }

// .button.dropdown:hover {
//   border: 1px solid #888;
// }