.milestones {
  h4 {
    text-align: center;
  }
  ul {
    list-style: none;
  }
}

.stones {
  li:nth-child(odd) {
    background: #ddd;
  }
  .edit {
    float: right;
  }
}

.stone {
  span {
    font-weight: bold;
  }
}