.feed {
  section {
    margin: 2em 0;
    padding: 1.6em 0;
    border-top: 1px solid #999;
  }
}

.post {
  h4, h5, h6 {
    font-weight: bolder;
  }
  h4 {
    margin-right: 0.6em;
  }
  h4, h6 {
    display: inline-block;
  }
  select {
    width: 4em;
  }
}

.tags {
  @extend .text-center;
  color: #888;
}

.datestamp {
  color: #666;
  font-size: 0.8em;
}

.post .dropdown {
  float: right;
}

.tag1 { font-size: 1.0em; }
.tag2 { font-size: 1.2em; }
.tag3 { font-size: 1.4em; }
.tag4 { font-size: 1.6em; }