@font-face {
  font-family: 'OptimusPrinceps';
  src: url('OptimusPrinceps.ttf', font)  format('truetype')
}

@font-face {
  font-family: 'AllerLite';
  src: url('Aller_Lt.ttf', font)  format('truetype')
}



//Site colors

$light-blue: #8DD7F7;
$dark-blue:  #00518A;
$dark-yellow: #FBCB33;
$medium-yellow: #FFE89B;
$light-yellow: #FFFAC1;
$white: #fff;

$header-fonts: 'OptimusPrinceps';
$font-family: 'AllerLite'
